body {
    color: #F2F2F2;
    background-image: url("../img/big-ton-tribus.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    font-family: 'Tangerine', serif;
    font-size: medium;
}


h1 {
    color: green;
    font-family:'Indie Flower', cursive;
}

p, ul {
 font-family: 'Dosis', sans-serif;
}

#content {
    margin-top: 90px;
    width: 100%;
}

#songs {
    text-align: center;
    font-size: small;
}

@media screen and (max-width: 600px) {

    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}